* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input, button {
  font-family: monospace;
}
button {
  border: none;
  padding: 0.25em 1em;
  background: #4a4aff;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.5;
}
button:hover {
  background: #3131e1;
}
button:disabled {
  background: #aeaeae;
  color: #686868;
}

main {
  display: flex;
}

header {
  display: flex;
}

#panel {
  min-height: 100vh;
  border-right: 1px solid #ddd;
}

#status {
  color: #fff;
  padding: 0.25em 1em;
  line-height: 1.5;
}

#step {
  flex: 1;
  background: #4343E1;
  text-align: right;
}
#step input {
  width: 3em;
  border: none;
  padding: 0.25em;
  color: #fff;
  background: #4343e1;
}

#charts {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
}
.chart {
  max-width: 320px;
  padding: 1em;
}
.chart-title {
  text-align: center;
}

#config {
  max-width: 220px;
  border-top: 1px solid transparent;
}
.config-item {
  margin: 1em;
}
.config-item--info {
  display: flex;
  justify-content: space-between;
}
.config-item--desc {
  color: #888;
  text-align: justify;
}
.config-item--input {
  display: none;
  border: none;
  text-align: right;
  font-size: 12px;
  line-height: 1;
  padding: 0;
  background: #eee;
}
.config-item--val-original {
  color: #aaa;
}
.config-item--val-new {
  color: #4a4aff;
}
#reset--new-config {
  display: none;
  width: 100%;
}
